@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    font-weight: bold;
}

h2{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: bold;
}

p{
    font-size: medium;
}

html, body {
    width: 100%;
    height: 100%;
}
